SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DEALFIGHT_DATABASE_SECRET=
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_KEY=
DODO_PAYMENTS_PRODUCT_ID=pdt_0NmJyAK0mGOU1mkb36ivw
DODO_PAYMENTS_ENVIRONMENT=test_mode
NEXT_PUBLIC_SITE_URL=http://localhost:3000
